<%- include('../partials/header_auth') %>
    
        <h1>Login</h1>
        <% if (error_credentials) { %>
            <p style="color: red;"><%= error_credentials %></p>
        <% } %>
        <form action="/login" method="POST">
            <div class="form-group">
                <label for="login_email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="login_password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>    
            <button type="submit" class="btn">Login</button>
        </form>
        <a class="toggle-link" href="/">Don't have an account? Register here</a>
    </div>
<%- include('../partials/footer_auth') %>