<%- include('../partials/header_auth') %>
    <div id="register" class="container">
        <div class="logo">
            <img src="uploads/logo.svg fill.png" alt="JustHome Logo">
        </div>
        <h1>Register</h1>
        <form action="/">
            <div class="row g-3">
                <div class="col-md-6">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="col-md-6">
                    <label for="phone_number" class="form-label">Phone</label>
                    <input type="text" class="form-control" id="phone_number" name="phone_number" required>
                </div>
                <div class="col-md-6">
                    <label for="first_name" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="firstname" name="firstname" required>
                </div>
                <div class="col-md-6">
                    <label for="last_name" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="lastname" name="lastname" required>
                </div>
                <div class="col-md-12">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="col-md-12">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
            </div>
            <button type="submit" class="btn mt-4">Register</button>
        </form>
        <a class="toggle-link" onclick="showLogin()">Already have an account? Login here</a>
    </div>

    <div id="login" class="container" style="display: none;">
        <div class="logo">
            <img src="uploads/logo.svg fill.png" alt="JustHome Logo">
        </div>
        <h1>Login</h1>
        <form>
            <div class="form-group">
                <label for="login_email" class="form-label">Email</label>
                <input type="email" class="form-control" id="login_email" name="login_email" required>
            </div>
            <div class="form-group">
                <label for="login_password" class="form-label">Password</label>
                <input type="password" class="form-control" id="login_password" name="login_password" required>
            </div>
            <button type="submit" class="btn">Login</button>
        </form>
        <a class="toggle-link" onclick="showRegister()">Don't have an account? Register here</a>
    </div>

    <script>
        function showLogin() {
            document.getElementById('register').style.display = 'none';
            document.getElementById('login').style.display = 'block';
        }

        function showRegister() {
            document.getElementById('register').style.display = 'block';
            document.getElementById('login').style.display = 'none';
        }
    </script>
<%- include('../partials/footer_auth') %>
