<%- include('../partials/header') %>

  <div class="container mt-5">
    <h1>Sell/Renting Your House</h1>
    <form action="/houses/create" method="POST" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="title" class="form-label">House Title</label>
        <input type="text" class="form-control" id="name" name="name" required>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input type="text" class="form-control" id="address_info" name="address_info" required>
      </div>
      <div class="mb-3">
        <label for="title" class="form-label">Types:</label>
        <select class="form-control" id="type" name="type" required>
          <option value="SELL">Sell</option>
          <option value="Rent">Rent</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="number" class="form-control" id="price" name="price" required>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
      </div>
      <div class="mb-3">
        <label for="bedrooms" class="form-label">Bedrooms</label>
        <input type="number" class="form-control" id="bedroom" name="bedroom" required>
      </div>
      <div class="mb-3">
        <label for="bathrooms" class="form-label">Bathrooms</label>
        <input type="number" class="form-control" id="bathroom" name="bathroom" required>
      </div>
      <div class="mb-3">
        <label for="squareFeet" class="form-label">Square Feet</label>
        <input type="number" class="form-control" id="size" name="size" required>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Product Image</label>
        <input type="file" class="form-control" name="image" id="image" accept="image/*">
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
<%- include('../partials/footer') %>
